:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --grey-light: #181818;
  --background-base: #121212;
  --background-highlight: #1a1a1a;
  --background-press: #000;
  --background-elevated-base: #242424;
  --background-elevated-highlight: #2a2a2a;
  --background-elevated-press: #000;
  --background-tinted-base: hsla(0,0%,100%,.07);
  --background-tinted-highlight: hsla(0,0%,100%,.1);
  --background-tinted-press: hsla(0,0%,100%,.04);
  --background-unsafe-for-small-text-base: #121212;
  --background-unsafe-for-small-text-highlight: #121212;
  --background-unsafe-for-small-text-press: #121212;
  --text-base: #fff;
  --text-subdued: #a7a7a7;
  --text-bright-accent: #1ed760;
  --text-negative: #f15e6c;
  --text-warning: #ffa42b;
  --text-positive: #1ed760;
  --text-announcement: #3d91f4;
  --essential-base: #fff;
  --essential-bright-accent: #1ed760;
  --essential-negative: #e91429;
  --essential-warning: #ffa42b;
  --essential-positive: #1ed760;
  --essential-announcement: #0d72ea;
  --decorative-base: #fff;
  --decorative-subdued: #292929;

  --song-hover: hsla(0,0%,100%,.3);
  --essential-subdued: #727272;
  --search-bar-width-bottom: clamp(280px, 85vw, 800px)
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: white;
  background-color: var(--background-base);
  max-width: 1920px;
  overflow-x: hidden;
}

.main_tabs {
  position: fixed;
  left: 0;
  width: clamp(240px, 15vw, 360px);
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  gap: clamp(25px, 5vw, 100px);
  background-color: var( --background-highlight);
}


.main_tabs li {
  list-style-type: none;
  cursor: pointer;
  padding: 20px;
  border: solid 1px black;
}

a {
  text-decoration: none;
  color: white;
}

.wrapper_card_group {
  padding: 10px;
}

.wrapper_card_group a{
  /* do not style */
  text-decoration: none;
}

.wrapper_card_group h2 {
  margin: 0 10px 15px 10px;
}

.wrapper_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  gap: 20px;
}

.album_overview{
  display: flex;
  gap: 20px;
  padding: 24px 36px;
}

.album_detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
}

.album_detail h1 {
  font-size: 4rem;
}

.playlist {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 15px;
}

.playlist:hover {
  border-radius: 10px;
  background-color: var(--song-hover);
}

.track_num {
  color: grey;
  margin-right: 10px;
}

.track_artist {
  color: gray;
}

.track_artist span {
  margin-right: 8px;
}

.list_container {
  flex: 1;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.duration {
  height: 100%;

}

.category_name {
  margin: 10px;
  font-size: 1.6rem;
}

.wrapper_card a {

}

.card_overview {
  width: 200px;
  height: 280px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.card_overview_text{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.card_overview_text > * {
  display: inline-block;
  color: white;
  max-width: 180px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.main_container {
  margin-left: clamp(240px, 15vw, 360px)
}

.relative {
  position: relative
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
}

.space_btwn {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.align_center {
  align-items: center;
}

.gap_8 {
  gap: 8px
}

.gap_20 {
  gap: 20px
}

.flex_width {
  width: clamp(280px, 60vw, 800px);
  margin: 15px auto;
}

.border {
  border: solid 2px gold;
}


.round_img {
  object-fit: cover;
  border-radius: 50%;
}

.img_mini {
  max-width: 30px;
  aspect-ratio: 1;
}

.album_img_small {
  max-width: 300px;
  max-height: 300px;
  height: auto;
}

.img_small {
  max-width: 180px;
  max-height: 180px;
  height: auto;
}

button {
  cursor: pointer;
}

.round_btn {
  padding: 10px;
  border-radius: 30px;
  border: 0;
  /* background-color: var(--background-highlight); */
  color: white; 
}

.r {
  
    
    display: inline-block;
    margin: 1em;
    padding: 1em 2em;
    border: 0;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.active_btn {
  color: black;
  background-color: white;
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.4;
  z-index: 10;
}

.panel {
  display: none;
  position: absolute;
  top: 0;
  width: inherit;
  background-color: white;
  border-radius: 10px;
}

.panel * {
  color: black;
}

.panel h2 {
  padding: 8px;
}

.panel li {
  padding: 5px 16px;
}

li {
  list-style: none;
}

@media (max-width: 800px) {

  html {
    color-scheme: dark;
  }

  .main_tabs {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: clamp(70px, 12vh, 100px);
    justify-content: center;
    gap: clamp(25px, 5vw, 100px);
  }

  .main_container {
    margin-left: auto;
    margin-bottom: clamp(70px, 12vh, 100px);
  }

  .wrapper_card {
    flex-direction: column;
  }

  .card_overview {
    flex-direction: row;
    justify-content: space-between;
    aspect-ratio: auto;
    width: 100%;
    height: auto;
  }

  .card_overview :hover {
    background-color: var(--background-elevated-highlight);
  }

  .img_small {
    max-width: 60px;
    height: auto;
  }

  .card_overview_text{
    align-items: flex-end;
  }

  .card_overview_text p {
    text-align: end;
  }

  .flex_width {
    width: var(--search-bar-width-bottom);
    margin: 15px auto;
  }

  .album_overview {
    flex-direction: column;
    align-items: center;
  }

  .album_type{
    display: none;
  }

  .album_img_small{
    max-width: 240px;
    height: auto;
  }
  
  .album_detail{
    align-self: flex-start;
  }

  .album_detail h1 {
    font-size: 2rem;
  }


}
