:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --grey-light: #181818;
  --background-base: #121212;
  --background-highlight: #1a1a1a;
  --background-press: #000;
  --background-elevated-base: #242424;
  --background-elevated-highlight: #2a2a2a;
  --background-elevated-press: #000;
  --background-tinted-base: hsla(0,0%,100%,.07);
  --background-tinted-highlight: hsla(0,0%,100%,.1);
  --background-tinted-press: hsla(0,0%,100%,.04);
  --background-unsafe-for-small-text-base: #121212;
  --background-unsafe-for-small-text-highlight: #121212;
  --background-unsafe-for-small-text-press: #121212;
  --text-base: #fff;
 
  --text-negative: #f15e6c;
  --text-warning: #ffa42b;
  
  --essential-base: #fff;
  --essential-bright-accent: #1ed760;
  --essential-negative: #e91429;
  --essential-warning: #ffa42b;
  --essential-positive: #1ed760;
  --essential-announcement: #0d72ea;
  --decorative-base: #fff;
  --decorative-subdued: #292929;

  --text-subdued: #a7a7a7;
  --text-announcement: #3d91f4;
  --text-bright-accent: #1ed760;
  --text-positive: #1ed760;
  --song-hover: hsla(0,0%,100%,.3);
  --essential-subdued: #727272;
  --search-bar-width-bottom: clamp(280px, 85vw, 800px)
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: white;
  background-color: var(--background-base);
  max-width: 1920px;
  overflow-x: hidden;
}

.main_container {
  margin-left: clamp(240px, 15vw, 360px)
}

/* .main_container #go_back {
  margin-left: clamp(240px, 15vw, 360px);
  position: absolute;
  top: 0;
  left: 24px;
} */

.menu_svg {
  max-width: 180px;
  height: auto;
}

#go_back {
  margin: 30px 24px 10px 24px;
  cursor: pointer;
}

.main_tabs {
  position: fixed;
  top: 0;
  left: 0;
  width: clamp(240px, 15vw, 360px);
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  gap: clamp(15px, 4vw, 50px);
  background-color: var( --background-highlight);
}

.main_tabs li {
  list-style-type: none;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.main_tabs a{
  display: block;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: var(--text-subdued);
}

.main_tabs a:hover {
  color: var(--text-base);

}

#select_recommend {
  color: var(--essential-positive);
  align-self: flex-start;
}

#brightGreen {
  color: var(--essential-bright-accent);
  border-left: 2px solid var(--essential-bright-accent);
}

.container_logo {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.container_logo h4 {
  position: absolute;
  top: 20px;
  left: 40px;
}

.clear_search {
  position: absolute;
  right: -5px;
  top: -7px;
  padding: 10px 15px;
  color: red;
  z-index: 13;
}

.clear_like {
  position: absolute;
  top: -3px;
  left: 5px;
  padding: 10px;
  color: red;
}

.num_like {
  position: absolute;
  top: 15%;
  right: 35%;
  padding: 5px 10px;
  color: black;
  background-color: var(--essential-bright-accent);
  border-radius: 50%;
}

.clear_search:hover, .clear_like:hover {
  cursor: pointer;
  color: red;
}

a {
  text-decoration: none;
  color: white;
}

.wrapper_card_group {
  padding: 10px;
  margin-top: 50px;
}

.wrapper_card_group a{
  /* do not style */
  text-decoration: none;
}

.wrapper_card_group h2 {
  margin: 0 10px 15px 10px;
}

.wrapper_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  gap: 20px;
}

.album_overview{
  display: flex;
  gap: 20px;
  padding: 24px 18px 36px 24px;
}

.album_detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
  padding: 15px;
  width: 100%;
  border-radius: 15px;
}

.album_detail h1, .err_msg {
  font-size: 4rem;
}

.album_year, .like_artist, .like_song{
  display: flex;
  align-items: center;
}

.like_btn {
  margin-left: auto;
  border: solid 2px gold;
}

#like_playlist_track {
  display: none;
  margin-right: auto;
  z-index: 1;
}

.playlist {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 15px;
}

.playlist:hover {
  border-radius: 10px;
  background-color: var(--song-hover);
}

.track_num {
  color: grey;
  margin-right: 10px;
  padding: 5px;
  width: 24px;
  flex-shrink: 0;
}

.track_artist, .track_artist a, .playlist_artist, .grey {
  color: gray;
}

.track_artist span {
  margin-right: 8px;
}

.track_artist_clickable {
  color: grey
}

.image {
  z-index: 1;
}

.list_container {
  flex: 1;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.duration {
  flex-shrink: 0;
  height: 100%;
  width: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.track_duration {
  margin-left: auto;
  /* width: 36px; */
}

.category_name {
  margin: 10px;
  font-size: 1.6rem;
  color: var(--song-hover);
}

.card_overview {
  width: 200px;
  height: 280px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.card_overview_text{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.card_overview_text > * {
  display: inline-block;
  color: white;
  max-width: 180px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track_album_container, .wrapper_like_item{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 24px 36px;
}

.track_album_text, .like_item_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 15px;
  border-radius: 15px;
}

.like_item_text {
  height: 100%;
}

.track_album_text:hover, .like_item_text:hover {
  background-color: var(--song-hover);
}


.relative {
  position: relative
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
}

.space_btwn {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.align_center {
  align-items: center;
}

.gap_8 {
  gap: 8px
}

.gap_20 {
  gap: 20px
}

.central_display {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_like_items {
  padding: 36px 16px;
}

.flex_width {
  width: clamp(280px, 60vw, 800px);
  margin: 20px auto;
}

.suggestion_panel{
  width: clamp(280px, 60vw, 800px);
  margin: 20px auto;
}

.border {
  border: solid 2px gold;
}


.round_img {
  object-fit: cover;
  border-radius: 50%;
}


.img_mini {
  max-width: 30px;
  aspect-ratio: 1;
}

.album_img_small {
  max-width: 300px;
  max-height: 300px;
  height: auto;
}

.img_small {
  max-width: 180px;
  max-height: 180px;
  height: auto;
}

.img_tiny {
  max-width: 60px;
  max-height: 60px;
  height: auto;
}

.album_link_text {
  font-size: 24px;
  color: var(--decorative-base)
}

button {
  cursor: pointer;
}

.round_btn {
  padding: 10px;
  border-radius: 30px;
  border: 0;
  color: black; 
}


.r {
    display: inline-block;
    margin: 1em;
    padding: 1em 2em;
    border: 0;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.active_btn {
  color: black;
  background-color: var(--text-positive);
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.4;
  z-index: 10;
}

textarea:focus, input:focus{
  outline: none;
}

.panel {
  display: none;
  position: absolute;
  top: 35px;
  width: inherit;
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 10px 5px;
}

.panel h4 {
  color: grey;
  padding: 8px;
}

.panel li {
  color: black;
  font-size: 1.5rem;
}

.panel li {
  padding: 5px 16px;
}

li {
  list-style: none;
}

.suggest_item:hover {
  background-color: var(--essential-bright-accent);
  }

.error {
  background-color: red;
  color: white;
}

.notification {
  color: var(--essential-bright-accent);
  padding: 24px 40px;
}








  
@media (max-width: 800px) {

  /* html {
    color-scheme: dark;
  } */


  #brightGreen {
    border-left: 0;
    border-bottom: solid 2px var(--essential-bright-accent);
  }

  #go_back {
    display: none;
  }

  .container_logo {
    display: none;
  }

  .main_tabs {
    position: fixed;
    top: auto;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: clamp(30px, 10vh, 100px);
    justify-content: center;
    gap: clamp(30px, 5vw, 100px);
    z-index: 14;
  }

  .main_container {
    margin-left: auto;
    margin-bottom: clamp(70px, 12vh, 100px);
  }

  .suggestion_panel {
    width: var(--search-bar-width-bottom);
  }

  .wrapper_card {
    flex-direction: column;
  }

  .wrapper_card_group {
    margin-top: 0;
  }

  .card_overview {
    flex-direction: row;
    justify-content: space-between;
    aspect-ratio: auto;
    width: 100%;
    height: auto;
    background-color: var(--background-highlight);
  }

  .card_overview :hover {
    background-color: var(--background-elevated-highlight);
  }

  .img_small {
    max-width: 60px;
    height: auto;
  }

  .card_overview_text{
    align-items: flex-end;
  }

  .card_overview_text p {
    text-align: end;
  }

  .flex_width {
    width: var(--search-bar-width-bottom);
    
  }

  .margin_auto_do_not_touch {
    margin: 30px auto;
  }

  .album_overview {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }



  .album_type{
    display: none;
  }

  .album_img_small{
    max-width: 240px;
    height: auto;
  }
  
  .album_detail{
    align-self: flex-start;
  }

  .album_detail h1 {
    font-size: 2rem;
  }
  .wrapper_like_item{
    padding: 36px 10px 10px 16px;
  }

  .wrapper_like_item * {
    font-size: clamp(14px, 2vw, 18px);

  }

  #like_playlist_track {
    display: inline-block;
  }

  .num_like{
    right: 20%;
  }
}
